:root {
  --grid-size: 350px;
}

body {
  background-color: #85c4ff;
  font-family: "Salsa", cursive;
}

h1 {
  color: #e18d35;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 0.5px grey;
  font-size: 2.6rem;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  transform: translate(2%);
}

button {
  display: block;
}

.gridItem {
  border: 1px solid lightgray;
}

.container {
  display: grid;
  width: var(--grid-size);
  height: var(--grid-size);
  border: 1px solid grey;
  background-color: white;
}

.sideMenu {
  margin-right: 2%;
}

#color {
  color: red;
  border-style: none;
  padding: 15%;
  background-color: red;
}

.roundButtons,
#startButton {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  border: none;
  margin-bottom: 10%;
}

#clearBoard {
  background-color: white;
  color: #0c5794;
}

#black {
  background-color: black;
  color: #0c5794;
  -webkit-text-stroke: 0.5px grey;
}

#erase {
  background-color: lightgray;
  color: #0c5794;
}

#randomColor {
  background-image: url(Images/rainbowcircle2.jpeg);
  background-size: cover;
  color: #0c5794;
}

#start {
  color: #e18d35;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 0.5px grey;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0%;
}

#startButton {
  background-image: url(/Images/startbutton.png);
  background-size: cover;
}

.startItems {
  padding-top: 10%;
  padding-left: 5%;
}

/*Media Queries for mobile view*/

@media only screen and (min-width: 320px) and (max-width: 576px) {
  h1 {
    font-size: 2rem;
  }

  body {
    --grid-size: 200px;
  }

  .roundButtons,
  #startButton {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 0.5rem;
  }

  #start {
    font-size: 1rem;
  }
}
